<div class="login-form">
  <form
    *ngIf="bandera; else elseBlock"
    action="/examples/actions/confirmation.php"
    method="post"
  >
    <div class="avatar">
      <img
        src="../../../assets/img/icon-user.png"
        class="img-thumbnail rounded-circle"
        width="100"
        height="100"
      />
    </div>
    <h4 class="modal-title">Registrar usuario</h4>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        placeholder="Nombre del usuario"
        required="required"
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        placeholder="Correo electrónico"
        required="required"
      />
    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-control"
        placeholder="Contraseña"
        required="required"
      />
    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-control"
        placeholder="Confirmar Contraseña"
        required="required"
      />
    </div>
    <input
      type="submit"
      class="btn btn-primary btn-block btn-lg"
      value="Registrar"
    />
    <div class="form-group small clearfix mt-2">
      <a (click)="cambiar()" class="forgot-link">¿Regresar al login?</a>
    </div>
  </form>

  <ng-template #elseBlock>
    <app-login></app-login>
  </ng-template>
</div>
