/* You can add global styles to this file, and also import other style files */
/*
Paleta de colores que se utilizaran para la pagina web
#0A2E53
#2A5371
#0088FF
*/

html {
  position: relative;
  min-height: 100%;
}

body {
  background: url(./assets/img/fondo-page.jpg) center top;
  margin-bottom: 380px;
}

footer {
  position: absolute;
  bottom: 0;
  height: 380px;
  width: 100%;
  background: #0e1016;
  color: white;
}

@media (max-width: 768px) {
  footer {
    position: relative;
    height: auto;
    background: #0e1016;
    width: 100%;
  }

  body {
    margin-bottom: 0px;
  }
}
