<!--Carrusel de anuncios o promociones-->
<app-carrusel-anuncios></app-carrusel-anuncios>

<!--Introduccion a la empresa-->
<div class="row edit-row mt-3">
  <div class="col-12 mt-2 contenido">
    <p class="text-center text-uppercase font-weight-bold" id="principal">
      Suplementos México, los mejores precios en Suplementos para Gym,
      Suplementos Alimenticios Deportivos Tenemos Proteínas, Creatinas, SARMS y
      la mayor variedad de productos para Fitness
    </p>
    <p class="text-center font-italic">
      Tienda de suplementos alimenticios y deportivos en México, la mejor
      calidad con productos originales, envíos GRATIS a todo México, aceptamos
      todas las formas de pago.
    </p>
    <!--Carrusel de promociones y descuentos-->
    <app-carrusel-card></app-carrusel-card>
  </div>
</div>
